

{% for article in articles %}
    <div>

<i class="ion-quote"></i>
<p>{{ article.getContenu() }}</p>
<div class="user">
    <img src="{{ article.getImageUrl() }}" style="border-radius: 100%; height: 250px; width: 250px" alt="Pepole">
    <p><span>{{ article.getUtilisateur() }}</span> {{ article.getDate().format("d, M Y") }}</p>
</div>
    </div>
{% endfor %}
